@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    color: white;
}
body{
     background-color: #121214;
}
span{
  color: #E07B67;  
  margin: 0px 0px 10px 0px;  
}

header{
    width: 100vw;
    font-size: 2em;
    padding: 10px;
    text-align: center;
    background-color: #252529 ;
}
#text-pesquisa{
    font-weight: 6em;
    justify-content: center;
    display: flex;
}
#pesquisa img{
    position: absolute;
    color: #E07B67;
    margin:28px;
    
}
#pesquisa input{
    width: 300px;
    height: 30px;
    margin: 20px;
    border: 1px solid #454546 ;
    background-color: #252529;
    border-radius: 5px;
}
main{
    background-color: #121214;
}

#card{
    margin-left: 20px;
    
}

.box-card{
    width: 300px;
    background-color: #252529;
    margin: 10px 5px ;
    padding: 10px;
    border: 2px solid #E07B67;
    border-radius: 7px;
}
.text-card{
    padding: 10px;
}
.text-card p {
    margin: 5px;
}
.sp-im{
    margin: 0px 4px 7px 5px;
}
.sp-im img{
    margin-top: 10px;
    margin-left: 150px;
}

footer{
    width:100vw ;
    background-color: #252529;
    padding: 10px;
}

.img-footer{
    margin-top: 10px;
    text-align: center;

}
@media screen and (min-width:400px){
    .box-card{
         width:350px ;
         margin: 12px 3px;
         font-size: 1.2em;
    }
}
@media screen and (min-width:700px){
    header{
        font-size: 2.8em;
    }
    .box-card{
         width: 670px;
         margin: 47px 25px;
         padding: 20px;
         font-size: 1.5em;
    }
    footer{
        font-size: 1.8em;
    }
}

@media screen and (min-width:1000px){
    .box-card{
        width: 905px;
        margin: 47px 20px;
        padding: 20px;
   }
}
@media screen and (min-width:1200px){
    .box-card{
        width: 75vw;
        margin: 47px 158px;
        padding: 40px;
   }
}
